/* ROBOT.GIF from Giphy - https://giphy.com/gifs/robot-cinema-4d-eyedesyn-3o7abtn7DuREEpsyWY */

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #efe6e9;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('./robot.gif');
  /* Image should be fully visible */
  background-size: contain;
  background-position: left center;
  /* Background should not repeat */
  background-repeat: no-repeat;
}

/* Button */
button {
  cursor: pointer;
  outline: none;
  width: 200px;
  height: 50px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  background: rgb(196, 197, 250);
  color: #333;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.1);
}

button:hover {
  filter: brightness(95%);
}
button:active {
  transform: scale(0.98); /*to simulate the button being pressed*/
}

button:disabled {
  cursor: default;
  filter: brightness(30%);
}

/* Media Queries: For Tablets and smaller */
@media screen and (max-width: 1000px) {
  .container {
    background-position: center center;
    background-size: cover;
  }
  button {
    box-shadow: 5px 5px 30px 20px rgba(0, 0, 0, 0.4);
  }
}
